<%- layout('layouts/main')%>
<form action="/signin" method="post">
    <input type="email" name="email" id="email" placeholder="Insert email">

    <input type="password" name="password" id="password" placeholder="Insert your password">

    <button type="submit">
        SignIn
    </button>


</form>

<a href="/signup">Signup</a>
